@import 'tailwindcss';

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
  margin: 0;
  color: #111;
  font-family: var(--font-sans);
  background-color: #f4f4f5; /* zinc-100 */
}

/* Customizations for flexlayout to look more like the reference UI */
.flexlayout__tab_button {
  background-color: transparent;
  color: #52525b; /* zinc-600 */
}
.flexlayout__tab_button--selected {
  background-color: #ffffff;
  color: #18181b; /* zinc-900 */
  font-weight: 500;
  border-bottom: 2px solid #2563eb; /* blue-600 */
}
.flexlayout__tabset_header {
  background-color: #f4f4f5; /* zinc-100 */
}
.flexlayout__border_button {
  background-color: #f4f4f5;
}
